/* Variables */
@use "./vars.css";

/* Addons */
@use "./addons/watermark.css";
@use "./addons/better-channel-indicators.css";
@use "./addons/colored-mentions.scss";
@use "./addons/local-bot-mods.scss";
@use "./addons/nicer-roles.css";
@use "./addons/user-connections.scss";
@use "./addons/profile-modals.css";
@use "./addons/better-embeds.css";
// @use "./addons/better-quotes.css";
@use "./addons/status-indicator.css";
@use "./addons/dusk-to-dawn-settings.css";

/* Theme */
/* home page */
.theme-dark .container-1D34oG {
  background-color: var(--rfe-primary);
}
/* chat box*/
.scrollableContainer-2NUZem {
  border-radius: 25px;
  border: 1px solid var(--rfe-tertiary);
  background-color: var(--rfe-secondary);
}
/* date divider */
.content-1o0f9g {
  color: #ffffff;
}
/* dont u dare touch usernames */
.username-1A8OIy {
  color: #ffffff;
}
/* auto complete */
.theme-dark .autocomplete-1vrmpx {
  background-color: var(--rfe-secondary);
}
.theme-dark .selected-1Tbx07 {
  background-color: var(--rfe-accent-alpha);
}
.categoryHeader-O1zU94 {
  background-color: var(--rfe-primary);
}
/* search box */
.theme-dark .container-3ayLPN {
  background: var(--rfe-secondary) !important;
}
.theme-dark .option-96V44q:after {
  display: none;
}
.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: var(--rfe-accent);
}
#app-mount .search-2oPWTC {
  border-color: var(--rfe-accent);
}
.search-2oPWTC.focused-31_ccS,
.search.open,
.search.popout-open {
  border: 2px solid;
  border-radius: 0px;
}
.searchBar-3dMhjb {
  border-radius: 15px;
}
.theme-dark .focused-2bY0OD {
  background-color: var(--rfe-primary);
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
  background: rgba(21, 21, 21, 0.6) !important;
}

/* popout modal */
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerXbox-3G-4PF {
  background-color: rgba(141, 50, 233, 0.4) !important; 
}
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
  background-color: var(--rfe-secondary);
}
.theme-dark .headerNormal-T_seeN {
  background-color: var(--rfe-primary);
}

/* profile modal */
.topSectionNormal-2-vo2m {
  background-color: var(--rfe-primary);
}
.body-3ND3kc {
  background-color: rgba(22, 22, 22, 0.27) !important;
}
/* bot tags */
.botTagRegular-2HEhHi {
  background-color: var(--rfe-accent);
}
.botTagInvert-18-95s {
  color: var(--rfe-accent);
}

/* taken ₍ₛₜₒₗₑₙ₎ from KraXen72's rosebox */
// .chat-3bRxxu,
// .container-1D34oG,
// .libraryHeader-3g95kE,
// .homeWrapper-3-Wh5T .title-3qD0b-,
// .applicationStore-1pNvnv,
// .scroller-1d5FgU,
// .pageHeaderDrag-OPlmbm {
//   border-top-left-radius: 10px !important;
// }

.withFrame-haYltI {
  margin-top: 0;
  background: #000;
  height: 23px;
}

.platform-win .sidebar-2K8pFh {
  border-radius: 0;
}

.layer-v9HyYc {
  background: transparent;
}

.bg-h5JY_x {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bfabd2d6-15b5-4add-8576-d12c2166b9cf/ddzdyy5-7fa3159b-1e4c-433d-a945-738e2de637f5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYmZhYmQyZDYtMTViNS00YWRkLTg1NzYtZDEyYzIxNjZiOWNmXC9kZHpkeXk1LTdmYTMxNTliLTFlNGMtNDMzZC1hOTQ1LTczOGUyZGU2MzdmNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.hVFJkxaW1I-62QLSN9R6oiJe_LFV5qPFWQPYi9TrIa8');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: difference;
  opacity: 0.09;
  backdrop-filter: blur(30px);
  filter: grayscale(1);
}

.chat-3bRxxu {
  background: transparent;
}

// .app-mount div:nth-child(1) {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: url(https://images-wixmp-ed30a86….wixmp.com/f/bfabd2d6-15b5-4add-8576-d12c2166b9cf/ddzdyy5-7fa3159b-1e4c-433d-a945-738e2de637f5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYmZhYmQyZDYtMTViNS00YWRkLTg1NzYtZDEyYzIxNjZiOWNmXC9kZHpkeXk1LTdmYTMxNTliLTFlNGMtNDMzZC1hOTQ1LTczOGUyZGU2MzdmNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.hVFJkxaW1I-62QLSN9R6oiJe_LFV5qPFWQPYi9TrIa8);
//     /* z-index: 0; */
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     top: 0;
//     mix-blend-mode: difference;
//     opacity: 0.1;
//     filter: grayscale(1);
// }
/* server pill */
.item-2hkk8m {
  background-color: var(--rfe-accent);
}

/* new messages */
.newMessagesBar-265mhP {
  background-color: var(--rfe-accent);
  border: 1px var(--rfe-accent-dark);
  border-style: none solid solid solid;
}

/* server header */
.header-2V-4Sw {
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* oopsie */
.nameWrap-3Z4G_9.textRow-19NEd_.base-1x0h_U.size14-e6ZScH,
.gameIcon-gg34Dz {
  color: #ffffff;
}
/* delete message */
.theme-dark .message-2qRu38 {
  background-color: var(--rfe-secondary);
  box-shadow: none;
  border: 1px solid var(--rfe-tertiary);
}
/* update button */
.updateIconForeground-3tnNZn {
  fill: var(--rfe-accent);
}
/* discord icon */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  background: var(--rfe-accent);
}

/* memberslist*/
.members-1998pB,
.members-1998pB > div,
#dv-mount {
  background-color: transparent;
}

/* role picker */
.container-3XJ8ns {
  background-color: var(--rfe-secondary);
  border: 1px solid var(--rfe-tertiary);
}

/* media */
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
  background-color: var(--rfe-accent);
}
.audioControls-2HsaU6 {
  background-color: transparent;
}
.videoControls-2kcYic {
  background-color: var(--rfe-tertiary-alpha);
}
.mediaBarInteractionVolume-3QZqYd {
  background-color: var(--rfe-secondary-alpha);
}
.wrapper-129saQ {
  background-color: var(--rfe-secondary-alpha);
}
.iconPlay-2kgvwV.icon-3ZFEtL
  polygon[fill="currentColor"][points="0 0 0 14 11 7"] {
  fill: var(--rfe-accent) !important;
}
.metadata-13NcHb {
  background: linear-gradient(0, transparent, var(--rfe-secondary));
}
/* drag n drop */
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
  background-color: var(--rfe-secondary);
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
  color: var(--rfe-accent);
  border: 2px dashed var(--rfe-accent);
}
/* upload modal */
.theme-dark .uploadModal-2ifh8j {
  background-color: var(--rfe-primary);
}
.theme-dark .footer-3mqk7D {
  background-color: var(--rfe-secondary);
}
.checked-3_4uQ9[style="width: 24px; height: 24px; border-color: rgb(114, 137, 218);"] {
  border-color: var(--rfe-accent) !important;
}
path[d="M8.99991 16.17L4.82991 12L3.40991 13.41L8.99991 19L20.9999 7.00003L19.5899 5.59003L8.99991 16.17Z"][fill="#7289da"] {
  fill: var(--rfe-accent);
}
/* taken from rosebox by KraXen72 */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
  border: 2px solid var(--rfe-accent);
}
.uploadModal-2ifh8j .inner-3nWsbo,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
  border: 2px dashed var(--rfe-accent);
  border-radius: 10px;
}
/* settings */
.button-14-BFJ {
  border-radius: 15px;
}
.theme-dark .root-1gCeng {
  background-color: var(--rfe-primary);
}
.theme-dark .footer-2gL1pp {
  background-color: var(--rfe-secondary);
}
.theme-dark .htqj5xw-f1e1abj {
  color: var(--rfe-accent);
  border-color: var(--rfe-accent);
}
.theme-dark .codeRedemptionRedirect-1wVR4b {
  background-color: var(--rfe-secondary);
  border-color: var(--rfe-tertiary);
}

/* join a server modal - because discord are literary braindead */
.lookFilled-1Gx00P.colorGrey-2DXtkV {
  background-color: var(--rfe-accent);
  &:hover {
    background-color: var(--rfe-accent-light);
  }
}
.backButton-iA7KIs.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeMin-1mJd1x.grow-q77ONN {
  color: #b9bbbe;
}
.colorStandard-2KCXvj.size16-1P40sf.text-1FOLJS {
  color: #ffffff;
}
.colorStandard-2KCXvj.size20-17Iy80.footerTitle-2CYZch {
  color: #ffffff;
}
.colorHeaderPrimary-26Jzh-.size24-RIRrxO.title-3w8xhj,
.colorHeaderPrimary-26Jzh-.size24-RIRrxO.title-LqAd9K,
.colorHeaderPrimary-26Jzh-.size24-RIRrxO.title-XLSR78 {
  color: var(--rfe-accent);
}
.inviteDestinationExpired-2_1Ava {
  color: #f04747;
}
.container-UC8Ug1 {
  background-color: var(--rfe-secondary);
}
.colorHeaderSecondary-3Sp3Ft,
.sampleLink-2NLvZg,
.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
  color: #c2bbca;
}
.theme-light .footer-2gL1pp,
.theme-light .root-1gCeng {
  box-shadow: none;
}
.input-cIJ7To {
  color: #c2bbca;
}
circle[cx="68"][cy="12"][r="12"][fill="#7289DA"] {
  fill: var(--rfe-accent);
}
.input--jS-j2 {
  background-color: var(--rfe-secondary);
  border: 1px solid var(--rfe-tertiary);
}
/* discover servers */
.theme-dark .pageWrapper-1PgVDX {
  background-color: var(--rfe-primary);
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
  background-color: var(--rfe-accent);
}
.search-1iTphC .searchBox-2_mAlO {
  background-color: var(--rfe-secondary);
}

/* a lot of blurple annihlated - aka my old snippets that have no comments ;w; */
.bd-switch-checked,
.selected-mKYnfr.option-n0icdO,
.option-n0icdO:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9,
.barFill-23-gu-,
.colorDefault-2K3EoJ.focused-3afm-j,
.topSectionPlaying-1J5E4n,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.wrapper-3WhCwL:hover,
.circleIconButton-jET_ig.selected-ugP_am,
.newMessagesBar-265mhP,
.questionMark-3qBhGj {
  background-color: var(--rfe-accent);
}
.button-38aScr[style*="114, 137, 218"],
.container-3auIfb:not([style*="rgb(114, 118, 125)"]),
.activeButton-rvKcqq {
  background-color: var(--rfe-accent) !important;
}
.container-3auIfb:not([style*="rgb(114, 118, 125)"]) .slider-TkfMQL svg path,
.radioSelection-1HmrQS {
  fill: var(--rfe-accent);
}
.radioIconForeground-XwlXQN {
  fill: var(--rfe-accent) !important;
}
.item-26Dhrx[aria-checked="true"] svg,
.defaultValue-3gC7yw .markValue-2DwdXI,
.colorBrand-ROmMP1,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV,
.wrapper-3WhCwL,
.lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: var(--rfe-accent);
}
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.input-cIJ7To:focus,
.input-cIJ7To.focused-1mmYsC {
  border-color: var(--rfe-accent);
}
.wrapper-3jrx9n {
  border: 2px solid var(--rfe-accent);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: var(--rfe-accent-light);
}
.circleIconButton-jET_ig {
  color: var(--rfe-accent);
  &:hover {
    color: #ffffff;
  }
}

.lookFilled-1Gx00P.colorGreen-29iAKY:disabled,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--rfe-accent-dark);
}
.radioSelection-1HmrQS:hover {
  fill: #ffffff !important;
}
.reaction-1hd86g.reactionMe-wv5HKu {
  background-color: var(--rfe-accent-alpha);
}

/* 21 Jan 21 fixes - thanks to snapperito */

/* sliders */
.theme-dark .bar-2Qqk5Z {
  background-color: var(--rfe-primary-light);
}
/* gift buttons on sub tab */
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--rfe-accent);
  &:hover {
    background-color: var(--rfe-accent-light);
  }
}
/* voice devices*/
.css-1ba14n5-option {
  background-color: var(--rfe-secondary);
}
.css-3vaxre-menu {
  background-color: var(--rfe-primary);
}
/* video */
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: var(--rfe-secondary);
  border-color: var(--rfe-tertiary);
}
/* mic test */
.theme-dark .progress-1IcQ3A {
  background-color: var(--rfe-secondary);
}
.container-3PXSwK {
  background: var(--rfe-accent) !important;
}

/* selected in tab settings */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--rfe-accent);
  border-radius: 2px;
}
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--rfe-accent-alpha);
  border-radius: 2px;
}
.item-3HknzM.item-PXvHYJ[aria-controls="ADD_FRIEND-tab"] {
  background-color: var(--rfe-accent) !important;
  color: #ffffff !important;
}
/* plugins modals */
.cardPrimary-1Hv-to {
  background: var(--rfe-secondary);
}
/* context menu slection fix */
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--rfe-accent-light);
}
/* reactions not reacted to */
.reaction-1hd86g {
  background: var(--rfe-secondary);
}
/* overlays not selected */
.option-n0icdO {
  background-color: var(--rfe-primary-light);
}
.disabled-3I9jyo {
  color: var(--rfe-primary-light);
}
/* tooltips */
#app-mount .tooltip-2QfLtc,
#app-mount .tooltip-1_vJJI,
#app-mount .subscribeTooltipWrapper-1JoUuw {
  background-color: var(--rfe-secondary);
}
/* status picker */
.menu-3sdvDG {
  border: 1px solid var(--rfe-tertiary);
}
/* in a call badge */
.iconBadge-2wi9r4.participating-NBGDkr {
  background-color: var(--rfe-accent);
}
/* call box */
/* call buttons */
.colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: var(--rfe-primary);
}
/* popout selection ring */
.item-1tOPte[aria-checked="true"] svg {
  color: var(--rfe-accent);
}
/* speaking ring */
.avatarSpeaking-2IGMRN,
.border-Jn5IOt.speaking-B2MXPi {
  box-shadow: inset 0 0 0 2px var(--rfe-accent),
    inset 0 0 0 3px var(--rfe-secondary);
}
/* how'd the call go dont show again :^)*/
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked + span {
  background-color: var(--rfe-accent);
  border-color: var(--rfe-accent);
}
/* escape button */
.theme-dark .closeButton-1tv5uR {
  border-color: var(--rfe-accent);
}
.theme-dark .keybind-KpFkfr {
  color: var(--rfe-accent);
}
/*path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
  fill: var(--rfe-accent);
}*/
/* game activity */
.theme-dark .game-1ipmAa {
  box-shadow: 0 1px 0 0 var(--rfe-tertiary);
}
.theme-dark .nowPlaying-284llR {
  background-color: var(--rfe-accent);
}
.theme-dark .card-FDVird:before {
  background-color: var(--rfe-secondary);
  border-color: var(--rfe-tertiary);
}
/* disabled switches */
.container-3auIfb[style="opacity: 1; background-color: rgb(114, 118, 125);"] {
  background-color: var(--rfe-primary-light) !important;
}
/* powercord alias plugin modal */
.powercord-alias-pair {
  background: var(--rfe-secondary) !important;
  border: 1px solid var(--rfe-tertiary) !important;
}
.powercord-alias-textarea:focus {
  border-color: var(--rfe-accent) !important;
}
/* discord tweaks pc plugin */
.searchBox {
  background: var(--rfe-secondary) !important;
}
.discordTweaksSettings .tweaks .tweakCard {
  background-color: var(--rfe-secondary) !important;
  border: 1px solid var(--rfe-tertiary);
}
/* scroll bar fix - for future refrence ::-webkit-scrollbar doesn't play nice with Horizontal Server List */
.scrollerBase-289Jih.disableScrollAnchor-3V9UtP::-webkit-scrollbar-thumb,
.auto-Ge5KZx.scrollerBase-289Jih::-webkit-scrollbar-thumb,
.thin-1ybCId.scrollerBase-289Jih::-webkit-scrollbar-thumb {
  background-color: var(--rfe-primary-light);
}

.base-3dtUhz div::-webkit-scrollbar-thumb,
#user-settings div::-webkit-scrollbar-thumb {
  background-color: var(--rfe-primary-light) !important;
}
.base-3dtUhz div::-webkit-scrollbar-thumb:hover {
  background-color: var(--rfe-primary-light) !important;
}

/* quick switch */
.input-2VB9rf {
  background-color: var(--rfe-secondary);
  border: 1px solid var(--rfe-tertiary);
}
/* screenshare */
.selectorButtonSelected-t5V9On {
  background-color: var(--rfe-accent);
}
.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: var(--rfe-accent);
}
.item-3T2z1R {
  border: none;
}
/* video and screenshare buttons alternate style - i'll just leave it here commented */
/*.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  background-color: transparent;
  border: 1px solid var(--rfe-accent);
  border-radius: 0;
}
.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
  color: var(--rfe-accent);
}*/

/* server region */
.lookGhost-2Fn_0-.colorBrand-3pXr91 {
  color: var(--rfe-accent);
  background-color: var(--rfe-accent-alpha);
}
.regionSelectModal-12e-57 {
  background: var(--rfe-primary) !important;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
  background-color: var(--rfe-secondary);
  border: 1px solid var(--rfe-tertiary);
}
.regionSelectModal-12e-57 .regionSelectModalHeader-21khC1 {
  color: var(--rfe-accent);
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover {
  border-color: var(--rfe-accent);
}
/* save changes confirmation */
.container-2VW0UT.elevationHigh-1PneE4[style="background-color: rgba(32, 34, 37, 0.9);"] {
  background-color: var(--rfe-secondary-alpha) !important;
}
/* server boost status */
.theme-dark .tierHeaderLocked-1a2opw {
  background-color: var(--rfe-secondary);
}
.theme-dark .tierBody-x9kBBp {
  background-color: var(--rfe-primary);
}
.tier-3H4BXk {
  border: 1px solid var(--rfe-tertiary);
}
/* region selector call */
.theme-dark .quickSelectPopout-X1hvgV {
  background: var(--rfe-secondary);
}
.check-2by_h9 {
  fill: var(--rfe-accent) !important;
}
/* date picker */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
  background-color: var(--rfe-secondary);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: var(--rfe-secondary);
  border-color: var(--rfe-tertiary);
}
.theme-dark
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--rfe-primary-light);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
  background-color: var(--rfe-primary);
}
.theme-dark
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--selected:after {
  background-color: var(--rfe-accent);
}
#app-mount
  .calendarPicker-2yf6Ci
  .react-datepicker__day.react-datepicker__day--selected:hover,
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day:hover {
  background-color: var(--rfe-accent-alpha-alt2);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
  border-top-color: var(--rfe-tertiary);
  border-left-color: var(--rfe-tertiary);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
  background-color: transparent;
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
  background-color: var(--rfe-accent-alpha-alt2);
}
/* discover page search */
.categoryPill-34fszg.selected-1dONk0 {
  background-color: var(--rfe-accent);
}
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus,
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO:focus-within {
  border-color: var(--rfe-accent) !important;
}
.css-12hk9yc-control {
  background-color: var(--rfe-secondary);
}
.css-ix84ef-menu {
  background-color: var(--rfe-secondary);
}
.css-1adxh11-control {
  background-color: var(--rfe-secondary);
}
/* store page */
.scroller-1JpcIc {
  background-color: var(--rfe-primary);
}
.theme-dark .bodySection-jqkkIP,
.theme-dark .row-1bU71H {
  background-color: var(--rfe-secondary);
}
.checkmarkIcon-2EnYwn {
  color: var(--rfe-accent);
}
/* nitro gifts, idk about valid ones gift me nitro so i can find out :^) */
.theme-dark .description-1RsfgZ {
  color: var(--rfe-accent);
}
.theme-dark .tile-2OwFgW {
  background-color: var(--rfe-secondary);
  &:hover {
    background-color: var(--rfe-tertiary);
  }
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled {
  background-color: var(--rfe-primary-light);
}
.theme-dark .invalidPoop-pnUbq7 {
  background-color: var(--rfe-secondary);
}
/* boost screen */
.theme-dark .perksModal-fSYqOq {
  background-color: var(--rfe-primary);
}
.theme-dark .perk-2WeBWW {
  background-color: var(--rfe-secondary);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
  background-color: var(--rfe-accent-light);
}
.theme-dark .barBackground-2EEiLw,
.theme-dark .tierMarkerBackground-3q29am {
  background-color: var(--rfe-primary-light);
}
/* search channels */
.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3 {
  background-color: var(--rfe-primary-light);
}
/* announcements channels */
.theme-dark .header-1pGpFt {
  background: var(--rfe-secondary);
}
/* discovery clear button*/
.searchPage-3GKAdT .search-1iTphC .searchBox-2_mAlO .closeIcon-2WLZc1 {
  color: var(--rfe-primary-light);
}
/* homepage now playing section */
.theme-dark .inset-3sAvek {
  background-color: var(--rfe-primary);
}
.theme-dark .outer-1AjyKL.active-1xchHY,
.theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
  background-color: var(--rfe-tertiary);
}
.theme-dark .popout-38lTFE {
  background-color: var(--rfe-secondary);
}
.theme-dark .separator-XqIyoz {
  background-color: var(--rfe-tertiary);
}
.theme-dark .enabled-1t_Gxm:hover {
  background-color: var(--rfe-tertiary);
}
/* reply mention */
.colorBrand-2tjs5J {
  color: var(--rfe-accent);
}
/* bdCompat modals */
.theme-dark .modal-yWgWj- {
  background-color: var(--rfe-primary);
}
/* jump to present "fix" - straight up stolen from tropical in powercord's themes channel teehee :DDD */
.jumpToPresentBar-G1R9s6 {
  padding: 0;
  bottom: 8px;
  border-radius: 15px;
}
/* emoji names input */
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  background-color: var(--rfe-secondary);
}
.theme-dark .input-cIJ7To:focus,
.theme-dark .input-cIJ7To.focused-1mmYsC,
.theme-dark .input-cIJ7To:hover {
  border-color: var(--rfe-accent);
}
/* fix speaking ring in maximized vc */
.border-3dQmSY.speaking-WDn8Wm {
  box-shadow: inset 0 0 0 2px var(--rfe-accent),
    inset 0 0 0 3px var(--rfe-secondary);
}
/* additional maximized vc customizations */
.wrapper-2qzCYF.fullScreen-1tMzXY,
.wrapper-2qzCYF.noChat-18KtBD {
  background-color: var(--rfe-primary);
}
.tile-2naSqK {
  background-color: var(--rfe-secondary) !important;
  border: 1px solid var(--rfe-tertiary);
}
.gradientContainer-10lXLB {
  background-image: linear-gradient(
    var(--rfe-secondary),
    rgba(36, 38, 49, 0.738) 19%,
    rgba(36, 38, 49, 0.541) 34%,
    rgba(36, 38, 49, 0.382) 47%,
    rgba(36, 38, 49, 0.278) 56.5%,
    rgba(36, 38, 49, 0.194) 65%,
    rgba(36, 38, 49, 0.126) 73%,
    rgba(36, 38, 49, 0.075) 80.2%,
    rgba(36, 38, 49, 0.042) 86.1%,
    rgba(36, 38, 49, 0.021) 91%,
    rgba(36, 38, 49, 0.008) 95.2%,
    rgba(36, 38, 49, 0.002) 98.2%,
    transparent
  );
}
.colorable-1bkp8v.primaryDark-3mSFDl {
  background-color: var(--rfe-secondary);
  &:hover {
    background-color: var(--rfe-tertiary);
  }
}
.colorable-1bkp8v.white-3GPOIp {
  background-color: var(--rfe-accent);
  &:hover {
    background-color: var(--rfe-tertiary);
  }
}
.colorable-1bkp8v.white-3GPOIp,
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: #ffffff;
}
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS {
  background-color: var(--rfe-accent);
}
.colorable-1bkp8v.white-3GPOIp:hover {
  background-color: var(--rfe-accent-light);
}
.colorable-1bkp8v.white-3GPOIp,
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: #ffffff;
}
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
  color: var(--rfe-accent);
}
.theme-dark .wanderingCubesItem-WPXqao {
  background-color: var(--rfe-accent);
}
.videoWrapper-2v09vt {
  background-color: var(--rfe-secondary);
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
  background-color: var(--rfe-accent-light);
}
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
  background-color: var(--rfe-accent-light);
}
/* invite button */
.button-3HqqDX {
  background-color: var(--rfe-accent);
  &:hover {
    background-color: var(--rfe-accent-light);
  }
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  color: var(--rfe-accent);
  border-color: var(--rfe-accent);
  &:active {
    background-color: var(--rfe-accent-light);
  }
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--rfe-accent);
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:active {
  background-color: var(--rfe-accent-light);
  color: #ffffff;
}

/* notification settings */
.checkbox-1ix_J3[style="width: 24px; height: 24px; border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
  background-color: var(--rfe-accent) !important;
  border-color: var(--rfe-accent-dark) !important;
}
.checkbox-1ix_J3[style="width: 24px; height: 24px; border-color: rgb(67, 181, 129); background-color: rgb(67, 181, 129);"] {
  background-color: var(--rfe-accent) !important;
  border-color: var(--rfe-accent) !important;
}
.checkbox-1ix_J3[style="width: 24px; height: 24px; border-color: rgba(67, 181, 129, 0.15); background-color: rgba(67, 181, 129, 0.15);"] {
  background-color: var(--rfe-accent-alpha) !important;
  border-color: var(--rfe-accent-alpha) !important;
}
path[d="M8.99991 16.17L4.82991 12L3.40991 13.41L8.99991 19L20.9999 7.00003L19.5899 5.59003L8.99991 16.17Z"][fill="#43b581"] {
  fill: var(--rfe-accent);
}
.theme-dark .default-3oAQTF {
  background-color: var(--rfe-secondary);
  &:hover {
    background-color: var(--rfe-tertiary);
  }
}
.theme-dark .override-2YgiXd:hover {
  background-color: var(--rfe-tertiary);
}
/* tiny chat box fix */
.channelTextArea-2VhZ6z {
  border-radius: 25px;
}
.theme-dark .form-2fGMdU:before {
  display: none;
}
/* billing stuff */
.css-dwar6a-menu {
  background-color: var(--rfe-secondary);
}
.css-rzbxvl-option {
  background-color: var(--rfe-tertiary);
}
.theme-dark .defaultIndicator-G3c16x {
  background-color: var(--rfe-accent);
}
/* keyboard combos modal */
.theme-dark .keyboardShortcutsModal-3piNz7 {
  background-color: var(--rfe-secondary);
}
/* role color picker */
.theme-dark .colorPickerCustom-2CWBn2 {
  background: var(--rfe-primary);
  border-color: var(--rfe-tertiary);
}
/* game activity */
.theme-dark .notDetected-33MY4s {
  background-color: var(--rfe-primary-light);
}
.theme-dark .addGamePopout-2RY8Ju {
  background-color: var(--rfe-primary);
}
.css-6fzn47-control:hover {
  border-color: var(--rfe-accent);
}
/* reactions list */
.theme-dark .container-1If-HZ,
.theme-dark .reactors-Blmlhw {
  background-color: var(--rfe-primary);
}
.theme-dark .scroller-1-nKid {
  background-color: var(--rfe-secondary);
}
.theme-dark .reactionSelected-1pqISm {
  background-color: var(--rfe-accent);
}
/* bbd stuff */
.theme-dark .bd-addon-list .bd-addon-card {
  background-color: var(--rfe-secondary);
  border-color: var(--rfe-tertiary);
}
.theme-dark .bd-addon-list .bd-card-footer {
  border-top-color: var(--rfe-tertiary);
}
.theme-dark .bd-addon-list .bda-header {
  border-bottom-color: var(--rfe-tertiary);
}
.bd-search-wrapper {
  background-color: var(--rfe-secondary);
}
.bd-select .bd-select-options {
  background: var(--rfe-secondary);
}
.bd-select .bd-select-option:hover,
.bd-select .bd-select-option.selected {
  background: var(--rfe-tertiary);
}
#bd-settingspane-container .ui-switch-item .style-description {
  border-bottom: none;
}
/* channel perms */
.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
  background-color: var(--rfe-primary);
}
.theme-dark .autocompleteArrow-Zxoy9H,
.theme-dark .header-2bNvm4 {
  background-color: var(--rfe-secondary);
}
/* spotify listening party */
.theme-dark .invite-18yqGF {
  background-color: var(--rfe-secondary);
  border-color: var(--rfe-tertiary);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
  background-color: var(--rfe-primary-light);
}
.attachButtonPlay-3iJ0mf {
  color: var(--rfe-accent);
}
.lookLink-9FtZy-.colorBrand-3pXr91 {
  color: var(--rfe-accent);
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
  /* discord is fucking weird dont ask me */
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent 1px,
    var(--rfe-accent) 0,
    var(--rfe-accent) 2px,
    transparent 0
  );
}
/* meh */
.ephemeralMessage-1fEWtQ a {
  color: var(--rfe-accent);
}
.operations-36ENbA > a {
  color: var(--rfe-accent);
}
/* rtc connection */
.theme-dark .container-2x5lvQ {
  & .header-2C89wJ {
    background-color: var(--rfe-secondary);
  }
  & section {
    background-color: var(--rfe-primary);
  }
}

.liveSmall-1dy2uA {
  background-color: #9b48ee !important;
  font-size: 12px;
  line-height: 16px;
}

.button-1xaXFt  {
  background-color: #9b48ee !important;
}

.backdrop-1wrmKB {
  backdrop-filter: blur(5px);
  filter:blur(0px) !important;
}

.passthrough-1c2ewQ.selected-2YhbGh {
  background-color: #4f545f;
  color: #fff;
}

.barFill-23-gu- {
  background: #8d32e9 !important;
  height: 100%;
}

.backdrop-1wrmKB, .backdropWithLayer-3_uhz4 {
  backdrop-filter: blur(5px);
}

.headerNormal-T_seeN {
  background-color: rgba(10, 10, 10, 0.8) !important;
}

.headerSpotify-zpWxgT > .activityUserPopout-2yItg2 {
  background: none;
}

.topSectionPlaying-1J5E4n > .header-QKLPzZ, .topSectionPlaying-1J5E4n > .headerFill-adLl4x {
  background-color: rgba(141, 50, 233, 0.4);
}

// .topSectionPlaying-1J5E4n > .headerFill-adLl4x > .activityProfile-2bJRaP {
//   background: none;
//   box-shadow: 0px 0px 4px 4px rgba(67, 10, 124, 0.4);
//   padding: 4%;
//   margin-left: 3%;
//   margin-right: 3%;
// }


.topSectionPlaying-1J5E4n > .header-QKLPzZ, .topSectionPlaying-1J5E4n > .headerFill-adLl4x {
    background-color: rgba(141, 50, 233, 0.4);
}

.root-SR8cQa > .topSectionSpotify-1lI0-P, .root-SR8cQa > .topSectionPlaying-1J5E4n, .root-SR8cQa > .topSectionStreaming-1Tpf5X, .root-SR8cQa > .topSectionXbox-3fWLjS {
  background-color: transparent;
}

.inner-1ilYF7.root-SR8cQa, .noWrap-3jynv6.root-SR8cQa, .topSectionSpotify-1lI0-P {
  background-color: transparent !important;
}

.body-3ND3kc {
  background-color: #0a0a0a;
}

.topSectionNormal-2-vo2m {
  background-color: transparent;
}

.topSectionNormal-2-vo2m > .header-QKLPzZ {
  background-color: rgba(8, 8, 8, 0.289);
}

.topSectionNormal-2-vo2m .activity-1ythUs {
  background-color: rgba(8, 8, 8, 0.289);
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
  background-color: rgba(8, 8, 8, 0.289);
}

.topSectionSpotify-1lI0-P > .header-QKLPzZ {
  background-color: rgba(29, 185, 84, 0.6);
}

.topSectionSpotify-1lI0-P > .header-QKLPzZ, .topSectionSpotify-1lI0-P > .headerFill-adLl4x {
  background-color: rgba(29, 185, 84, 0.6);
}

.topSectionSpotify-1lI0-P .lookInverted-2D7oAl {
  background-color:  rgba(27, 151, 71, 0.6) !important;
  box-shadow: 0px 0px 5px 3px rgba(17, 141, 61, 0.6);
  color: #fff !important;
}

.topSectionSpotify-1lI0-P > .headerFill-adLl4x > .activityProfile-2bJRaP { 
  background: none !important;  
  box-shadow: 0px 0px 5px 4px rgba(11, 90, 39, 0.6);
}

.modal-3c3bKg .topSectionPlaying-1J5E4n .activityProfile-2bJRaP {
  background: transparent;
  box-shadow: 0px 0px 5px 3px  rgba(99, 36, 162, 0.4);
}

.modal-3c3bKg .topSectionPlaying-1J5E4n .header-QKLPzZ ~ div {
  background:rgba(141, 50, 233, 0.4);
}

.topSectionPlaying-1J5E4n > .activity-1ythUs {
    background:rgba(95, 33, 157, 0.4);
    box-shadow: 0px 0px 5px 3px  rgba(99, 36, 162, 0.4);
}

.topSectionPlaying-1J5E4n .lookInverted-2D7oAl {
    background: rgba(99, 36, 162, 0.6) !important;
    box-shadow: 0px 0px 5px 3px rgba(99, 36, 162, 0.4);
    color: #fff !important;
}
.topSectionPlaying-1J5E4n > .actionButton-3W1xZa {
    background: rgba(99, 36, 162, 0.6) !important;
}

.grid-1nZz7S {
  background-color: rgba(20, 20, 20, 0.22) !important;
}

.theme-dark .paymentPane-3bwJ6A {
  background-color: var(--rfe-tertiary);
  color: #f6f6f7;
}

.theme-dark .paginator-166-09 {
  background: var(--rfe-secondary);
}

.theme-dark .bottomDivider-1K9Gao {
  border-bottom-color: #080808;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.summaryInfo-2QFKUg {
  background-color: var(--rfe-secondary) !important;
}

.expandedInfo-3kfShd {
  background-color: var(--rfe-secondary) !important;
}

.mention-1f5kbO {
  background-color: var(--rfe-accent);
}

.mention-1f5kbO:active {
  background-color: #8626e7;
}

.container-1r6BKw.themed-ANHk51 {
  background-color: rgba(8, 8, 8, 0.7) !important;
}