$mentioned: rgb(155, 72, 238);

.mentioned-xhSam7 {
  background: rgba($mentioned, 0.1) !important;
  &:before {
    background: $mentioned !important;
  }
  &:hover {
    background: rgba($mentioned, 0.2) !important;
  }
}
.numberBadge-2s8kKX.base-PmTxvP {
  background-color: var(--rfe-accent) !important;
}
